*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #52734D;
}

body{
    background: #FEFFDE;
}

h1{
    margin-bottom: 1rem;
}

li{
    list-style: none;
}

.container{
    margin: 5rem auto;
    padding: 1rem 2rem;
    width: 80%;
    background-color: #DDFFBC;
    box-shadow: 0px 0px 6px #52734D;
    border-radius: 1rem;
}
